body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-card {
  width: 500px;
  height: 350px;
  border-radius: 2px;
  display: flex;
  margin: auto;
  padding: 100px 100px;
  gap: 25px;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}