body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(30, 38%, 92%);
}

.product-card {
  display: flex;
  margin: auto;
  padding: 100px 100px;
}


.product-info {
  width: 500px;
  height: 350px;
  display: flex;
  gap: 25px;
  border-radius: 5px;
}

.product-info img {
  border-radius: 5px;
}


.product-category {
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 15px;
}

.product-title {
  font-family: Fraunces;
  font-size: 30px;
}

.product-description {
  font-family: Montserrat;
  font-size: 15px;
}

.price {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 20px;
}

.current-price {
  font-family: Fraunces;
  font-size: 30px;
  font-weight: bold;
  color: hsl(158, 36%, 37%);
}




.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}