* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 38%, 92%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.product-info {
  width: 500px;
  height: 350px;
  background-color: white;
  display: flex;
  gap: 25px;
  border-radius: 5px;
}

.product-info img {
  width: 50%;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}

.product-content {
  padding: 10px;
}

.product-category {
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 15px;
}

.product-title {
  font-family: Fraunces;
  font-size: 30px;
}

.product-description {
  font-family: Montserrat;
  font-size: 15px;
  line-height: 1.6;
  color: hsl(228, 12%, 48%);
}

.price {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 20px;
  font-family: Fraunces;
}

.current-price {
  font-size: 30px;
  font-weight: bold;
  color: hsl(158, 36%, 37%);
}

.old-price {
  text-decoration: line-through;
  margin-top: 10px;
  font-size: 10px;
}

.product-info button {
  margin-top: 10px;
  border: none;
  padding: 10px 50px ;
  border-radius: 10px;
  background-color: hsl(158, 36%, 37%);
  color: white;
  font-family: Fraunces;
}

.product-info button:hover {
  background-color: hsl(158, 42%, 18%);
  cursor: pointer;
}